.li{
    background-color: rgb(4, 177, 251);
     display: inline;
    margin: 4.5%;  
    border-radius: 15px;
    padding: 5px;
}
nav{

margin: auto;
padding-top: 12px;
padding-left: 20px ; 
width: 500px;
height: 30px;
border-radius: 15px;
background-color: black;
}

.art1{
    margin:auto;
    width: 500px;
    background-color: rgb(4, 177, 251);
    border-radius: 15px;
    padding: 10px;



}

.img1{
    /* padding-left: 10%;
    padding-top: 2%; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}
